<div>
    <button mat-raised-button color="primary" (click)="openAdd();">Create Client</button>
</div>

    <table mat-table [dataSource]="lst" >
        <ng-container matColumnDef="cliId">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">{{ element.cliId}}</td>
        </ng-container>

        <ng-container matColumnDef="cliName" >
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.cliName}}</td>
        </ng-container>

        <ng-container matColumnDef="cliDocDocumentType">
            <th mat-header-cell *matHeaderCellDef>Type DNI</th>
            <td mat-cell *matCellDef="let element">{{ element.DocDocument}}</td>
        </ng-container>

        <ng-container matColumnDef="cliDni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let element">{{ element.cliDni}}</td>
        </ng-container>

        <ng-container matColumnDef="cliGenGender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">{{ element.cliGenGender}}</td>
        </ng-container>

        <ng-container matColumnDef="cliActive">
            <th mat-header-cell *matHeaderCellDef>Activo</th>
            <td mat-cell *matCellDef="let element">{{ element.cliActive}}</td>
        </ng-container>

        <ng-container matColumnDef="cliDrive">
            <th mat-header-cell *matHeaderCellDef>Drive?</th>
            <td mat-cell *matCellDef="let element">{{ element.cliDrive}}</td>
        </ng-container>

        <ng-container matColumnDef="cliDiabetic">
            <th mat-header-cell *matHeaderCellDef>Diabetic?</th>
            <td mat-cell *matCellDef="let element">{{ element.cliDiabetic}}</td>
        </ng-container>

        <ng-container matColumnDef="cliUseGlasses">
            <th mat-header-cell *matHeaderCellDef>Use Glasses?</th>
            <td mat-cell *matCellDef="let element">{{ element.cliUseGlasses}}</td>
        </ng-container>

        <ng-container matColumnDef="cliOtherDiseases">
            <th mat-header-cell *matHeaderCellDef>Other Diseases</th>
            <td mat-cell *matCellDef="let element">{{ element.cliOtherDiseases}}</td>
        </ng-container>

        <ng-container matColumnDef="cliDiseases">
            <th mat-header-cell *matHeaderCellDef>Diseases</th>
            <td mat-cell *matCellDef="let element">{{ element.cliDiseases}}</td>
        </ng-container>

    - <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button (click)="openEdit(element)" mat-raised-button color="basic">Editar</button> |
            <button (click)="Delete(element)" mat-raised-button color="warn">Eliminar</button>
        </td>
    </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>

    </table>

