<mat-card>
    <mat-card-title>Inicio de Sesion</mat-card-title>
    <mat-card-content>
        <p>
            <mat-form-field>
                <input type="text" matInput placeholder="email" [(ngModel)]="email" name="user">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input type="password" matInput placeholder="password" [(ngModel)]="password" name="password">
            </mat-form-field>
        </p>
        <div>
            <button mat-raised-button color="primary" (click)="login()">Iniciar Sesion</button>
        </div>
    </mat-card-content>
</mat-card> 